extends layout

block content
  if user
    h1 Welcome to #{title}, #{user.full_name}. You are #{user.membershipStatus ? 'in the club!' : 'not in the club'}
    if !user.membershipStatus
      a(href='/join_club') Join the club!
    a(href='/logout') Log out
  else
    h1 Welcome to #{title}
    a(href='/signup') Sign up!

  form(method='POST' action='/login')
    label(for='username')  Username: 
    input#username(type='text' placeholder='johnsmith123' name='username')
    label(for='password')  Password: 
    input#password(type='password' placeholder='NOT password1' name='password')
    button(type='submit')  Submit

  form(method='POST' action='/create_message')
    label(for='message') Message: 
    input#message(type='text' placeholder='Words words words' name='message')
    button(type='submit') Submit

  each message in messages
    if user && user.membershipStatus
      li #{message.formatted_timestamp} - #{message.author.full_name} (#{message.author.username}): #{message.content}
    else
      li Hidden member: #{message.content}
